@import url("../fonts/Gilroy_fonts/stylesheet.css");
html, body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-repeat: no-repeat;
}

ul,
li {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

textarea {
  resize: vertical;
}

a:hover {
  text-decoration: none;
}

* html .clearfix {
  height: 1%;
}

* {
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
span,
p,
a,
label {
  margin-bottom: 0;
}

img {
  max-width: 100%;
}

.ease,
a,
input[type="submit"],
button {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.relative {
  position: relative;
}

.clearfix {
  display: block;
  clear: both;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

.center-div {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.middle-div {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.hori-div {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

.bg-common {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.relative, .rel {
  position: relative;
}

.absolute, .abs {
  position: absolute;
}

input:focus, button:focus, textarea:focus {
  outline: none;
}

.z-top {
  position: relative;
  z-index: 80;
}

// .change_header_bg {
//   background: rgba(0, 0, 0, 0.8);
// }

h1, h2, h3, h4, h5{
    font-family: 'Montserrat', sans-serif;
}
.navbar-toggler {
  display: block;
  padding: 27px 19px;
  width: 18px;
  height: 2px;
  border: 0;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  background-clip: content-box;
  -webkit-transition: background-color 500ms ease-in-out 250ms;
  transition: background-color 500ms ease-in-out 250ms;
  background-color: #fff;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.navbar-toggler:hover {
  cursor: pointer;
}

.navbar-toggler:before, .navbar-toggler:after {
  position: relative;
  content: '';
  display: block;
  width: 18px;
  height: 2px;
  background-color: #fff;
  -webkit-transition: -webkit-transform 500ms ease-in-out;
  transition: -webkit-transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
}

.navbar-toggler:before {
  top: -6px;
}

.navbar-toggler:after {
  bottom: -4px;
}

.navbar-toggler__text {
  display: none;
}

.navbar-toggler--active {
  background-color: rgba(255, 255, 255, 0);
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.navbar-toggler--active:before {
  -webkit-transform: translateY(6px) rotate(-225deg);
          transform: translateY(6px) rotate(-225deg);
}

.navbar-toggler--active:after {
  -webkit-transform: translateY(-6px) rotate(225deg);
          transform: translateY(-6px) rotate(225deg);
}

body {
  font-family: 'Poppins', sans-serif;
}

#site-header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#site-header.hide {
  top: -130px;
}

.container-fluid {
  padding: 0 5%;
}

.container-padding{
    padding: 0 100px;
}
header{
    background-color: #000000;
    padding: 20px 0;
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 99;
    .navbar-brand{
        display: inline-block;
        margin-bottom: -8rem;
        img{
            width: 200px;
        }
    }
    .navbar-nav{
        li{
            &:not(:last-child){
                margin-right: 25px;
            }
            a.menu-link{
                color: #fff;
                font-size: 20px;
                font-weight: 600;
                text-transform: uppercase;
            }
        }
    }
}
.dropdown-toggle::after {
    content: '';
}
footer{
    padding: 50px 0 0;
    background-position: top;
    .social-media{
        display: flex;
        align-items: center;
        justify-content: center;
        a{
            height: 50px;
            width: 50px;
            border-radius: 50%;
            border: 1px solid #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 10px;
            &:hover{
                background-color: #fff;
                i{
                    color: #0D1820;
                }
            }
            i{
                color: #fff;
                font-size: 20px;
            }
        }
    }
    .footer-links{
        h2{
            font-size: 25px;
            margin-bottom: 20px;
            color: #fff;
            text-transform: uppercase;
            font-family: 'Montserrat', sans-serif;
            font-weight: 600;
        }
        ul{
            column-count: 2;
            li{
                margin-bottom: 10px;
                a{
                    font-size: 20px;
                    color: #fff;
                    font-weight: 400;
                }
            }
        }
    }
    .contact-info{
        h2{
            font-size: 25px;
            margin-bottom: 20px;
            color: #fff;
            text-transform: uppercase;
            font-family: 'Montserrat', sans-serif;
            font-weight: 600;
        }
        .contact-btn{
            background-color: #004C85;
            padding: 10px 20px;
            color: #fff;
            margin-bottom: 20px;
            display: block;
        }
        ul{
            li{
                color: #fff;
                font-size: 16px;
                font-weight: 400;
                margin-bottom: 10px;
                span{
                    color: #fff;
                    text-decoration: underline;
                }
                a{
                    color: #fff;
                }
            }
        }
    }
    .blue-strip{
        padding: 10px;
        background-color: #004C85;
        margin-top: 50px;
        .note-row{
            display: flex;
            justify-content: space-between;
            align-items: center;
            p{
                color: #fff;
                font-size: 14px;
            }
            ul{
                display: flex;
                justify-content: center;
                align-items: center;
                li{
                    line-height: 1;
                    &:not(:last-child){
                        a{
                            border-right: 1px solid #fff;
                            padding-right: 10px;
                            margin-right: 10px;
                        }
                    }
                    a{
                        line-height: 1;
                        color: #fff;
                        font-size: 14px;
                    }
                }
            }
        }
    }
}


// HOME
.banner-section{
    .banner-slider{
        li{
            img{
                height: 100vh;
                object-fit: cover;
            }
            .slider-wrapper{
                position: relative;
                &:after{
                    content: '';
                    height: 100%;
                    width: 100%;
                    background-color: #000000;
                    opacity: 0.4;
                    position: absolute;
                    left: 0;
                    top: 0;
                }
            }
        }
        .owl-dots{
            position: absolute;
            z-index: 40;
            bottom: 0;
            left: 0;
            right: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            top: 40%;
            width: 100%;
            .owl-dot{
                background-color: #fff;
                height: 20px;
                width: 20px;
                border-radius: 50%;
                margin: 0 5px;
                display: inline-block;
                &.active{
                    background-color: #0092FF;
                }
            }
        }
    }
    .banner-wrapper{
        z-index: 20;
        p{
            color: #fff;
            font-size: 20px;
            font-family: 'Montserrat', sans-serif;
            font-weight: 600;
            text-transform: uppercase;
        }
        h1{
            color: #fff;
            text-transform: uppercase;
            font-size: 50px;
            font-weight: 600;
        }
    }
    .guide{
        position: absolute;
        bottom: 0;
        z-index: 20;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
}

.section-padding{
    padding: 100px 0;
}

.block-wrapper{
    h2{
        font-size: 50px;
        font-weight: bold;
        color: #004C85;
        margin-bottom: 10px;
    }
    .line{
        border-top: 1px solid #004C85;
        padding: 1px;
        margin: 10px 0;
        width: 143px;
    }
    p{
        font-size: 20px;
        font-weight: 500;
    }
}
.btn-primary{
    background-color: #004C85;
    padding: 10px 30px;
    color: #fff;
    display: inline-block;
    font-size: 16px;
}
.section-heading{
    margin-bottom: 50px;
    h2{
        font-size: 50px;
        text-transform: uppercase;
        color: #004C85;
        font-weight: bold;
    }
    .line{
        border-top: 1px solid #004C85;
        padding: 1px;
        margin: 10px auto;
        width: 143px;
    }
    p{
        font-size: 20px;
        font-weight: 500;
        color: #000;
    }
}
.we-can-help{
    background-color: #EFEFEF;
}
.group-list{
    li{
        .wrapper{
            min-height: 570px;
            display: flex;
            align-items: flex-end;
            margin-bottom: 30px;
            background-size: 100% 70%;
            background-position: top;
            transition: all 0.3s ease-in-out;
            &:hover{
                align-items: center;
                background-size: cover;
                background-position: center;
                transition: all 0.3s ease-in-out;
                .shape{
                    display: block;
                }
                &:after{
                    content: '';
                    height: 100%;
                    width: 100%;
                    background-color: #004C85;
                    opacity: 37%;
                    position: absolute;
                    left: 0;
                    top: 0;
                }
                .bottom-wrapper{
                    padding: 0;
                    background-color: transparent;
                    .group-name{
                        color: #fff;
                    }
                }
                .icon-wrapper{
                    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,76,133,1) 100%) !important;
                    border: none !important;
                }
            }
            .bottom-wrapper{
                background: #fff;
                text-align: center;
                padding: 10px 20px 50px;
                width: 100%;
                position: relative;
                z-index: 20;
                .icon-wrapper{
                    border: 10px solid #EFEFEF;
                    background-color: #004C85;
                    height: 161px;
                    width: 161px;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 0 auto;
                    margin-top: -70px;
                }
                .group-name{
                    color: #004C85;
                    text-transform: uppercase;
                    font-weight: 600;
                    font-size: 25px;
                    margin-top: 20px;
                }
            }
            .shape{
                position: absolute;
                bottom: 0;
                right: 0;
                display: none;
                width: fit-content;
                z-index: 30;
                .shape-img{
                    object-fit: contain;
                }
                a{
                    position: absolute;
                    right: 20px;
                    bottom: 20px;
                }
            }
        }
    }
}
.impact-list{
    padding: 0 100px;
    .impact-wrapper{
        min-height: 500px;
        &:hover{
            .impact-overlay{
                display: block;
            }
        }
        .impact-overlay{
            background-color: rgba($color: #000000, $alpha: 0.7);
            height: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
            padding: 50px;
            text-align: center;
            color: #fff;
            display: none;
            .project-location{
                font-size: 20px;
                font-family: 'Poppins', sans-serif;
                font-weight: 500;
            }
            .line{
                border-top: 1px solid #fff;
                padding: 1px;
                margin: 10px auto;
                width: 87px;  
            }
            .project-name{
                font-size: 30px;
                margin-bottom: 10px;
            }
            p{
                font-size: 16px;
            }
        }
    }
}
.impact{
    .nav-arrows{
        padding: 0 100px;
        position: absolute;
        left: 0;
        z-index: 20;
        top: 55%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        pointer-events: none;
        div{
            pointer-events: all;
            cursor: pointer;
            img{
                width: 60px;
            }
        }
    }
}
.logo-section{
    overflow: hidden;
    position: relative;
    padding: 100px 0;
    .design-1{
        position: absolute;
        left: -10vw;
        top: 10%;
        max-width: 400px;
    }
    .design-2{
        position: absolute;
        right: -10vw;
        bottom: 15%;
        max-width: 400px;
    }
    .logo-wrapper{
        img{
            margin-bottom: 10px;
        }
    }
}

.testimony{
    background-color: #EFEFEF;
}
.review-list{
    li{
        .review-wrapper{
            background-color: #1E1E1E;
            border-radius: 20px;
            overflow: hidden;
            .profile-wrapper{
                background-color: #004C85;
                padding: 30px;
                height: 100%;
                img{
                    height: 170px;
                    width: 170px;
                    object-fit: cover;
                    border-radius: 50%;
                    margin: 0 auto;
                }
            }
            .review-content{
                padding: 20px;
                .stars{
                    margin-bottom: 10px;
                    i{
                        color: #fff;
                    }
                }
                p{
                    font-size: 16px;
                    color: #fff;
                    font-weight: 500;
                }
                h2{
                    font-size: 12px;
                    font-weight: 400;
                    color: #fff;
                    margin-top: 30px;
                }
            }
        }
    }
}
.contact-section{
    padding: 70px 0;
    .c-wrapper{
        background-color: #fff;
        padding: 30px;
        .form-wrapper{
            h2{
                color: #004C85;
                font-weight: bold;
                font-size: 50px;
                text-transform: uppercase;
            }
            p{
                font-size: 15px;
                color: #171717;
                font-weight: 500;
                margin-bottom: 20px;
            }
           .input-group{
            margin-bottom: 20px;
            label{
                font-size: 15px;
                color: #171717;
                font-weight: 500;
                margin-bottom: 5px;
            }
            input{
                width: 100%;
                background-color: #EFEFEF;
                padding: 10px;
                color: #000;
                font-size: 15px;
                height: 43px;
                border: none;
            }
            textarea{
                width: 100%;
                background-color: #EFEFEF;
                padding: 10px;
                color: #000;
                font-size: 15px;
                height: 112px;
                border: none;
            }
           }
           .input-select{
            margin-bottom: 20px;
            h3{
                font-size: 15px;
                color: #171717;
                font-weight: 500;
                margin-bottom: 20px;
            }
            .check-wrapper{
                display: flex;
                input{
                    transform: scale(1.3);
                    transform-origin: left center;
                }
                label{
                    font-size: 12px;
                    font-weight: 500;
                    display: inline-block;
                    margin-left: 10px;
                }
                align-items: flex-start;
            }
           }
        }
        .form-wrapper-bg{
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 50px;
        }
    }
}

.page-banner{
    min-height: 600px;
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    &:after{
        content: '';
        height: 100%;
        width: 100%;
        background-color: #000000;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0.47;
    }
    h1{
        color: #fff;
        z-index: 20;
        position: relative;
        font-size: 60px;
        text-transform: uppercase;
        margin-top: 50px;
    }
}
.blog-section{
    padding: 100px 0;
    .side-blog{
        position: sticky;
        top: 0;
        .recent-post{
            padding: 20px;
            .panel-heading{
                text-align: center;
                background-color: #004C85;
                color: #fff;
                padding: 10px;
                font-size: 20px;
                text-transform: uppercase;
                font-weight: 600;
                margin-bottom: 20px;
            }
        }
    }
}
.recent-list{
    li{
        &:not(:last-child){
            margin-bottom: 20px;
        }
        .post-wrapper{
            display: block;
            .blog-img{
                height: 100px;
                width: 100%;
                object-fit: cover;
            }
            .post-wrapper{
                font-size: 20px;
                font-family: 'Poppins', sans-serif;
                font-weight: 600;
                color: #000;
                margin-bottom: 15px;
            }
            .date-comment{
                display: flex;
                align-items: center;
                div{
                    font-size: 16px;
                    font-weight: 300;
                    font-family: 'Poppins', sans-serif;
                    color: #000000;
                    line-height: 1;
                    &:not(:last-child){
                        margin-right: 10px;
                        padding-right: 10px;
                        border-right: 1px solid #000;
                    }
                }
            }
        }
    }
}
.side-panel{
    min-height: 460px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 60px;
   &:after{
    content: '';
        height: 100%;
        width: 100%;
        background: linear-gradient(180deg, rgba(255,255,255,0.3) 0%, rgba(0,76,133,1) 100%);
        position: absolute;
        top: 0;
        left: 0;
   }
   .content-panel{
    position: relative;
    z-index: 20;
    text-align: center;
    h2{
        font-size: 40px;
        color: #fff;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 50px;
    }
    a{
        border: 1px solid #fff;
        color: #fff;
        padding: 20px;
        width: 100%;
        display: block;
        font-size: 22px;
        font-weight: 400;
        text-transform: uppercase;
    }
   }
}
.blog-list{
    li{
        margin-bottom: 50px;
        .blog-wrapper{
            img{
                width: 100%;
                height: 440px;
                object-fit: cover;
                margin-bottom: 10px;
            }
            .blog-info{
                padding: 0 10px;
                .blog-title{
                    font-size: 20px;
                    color: #000;
                    font-weight: 600;
                    margin-bottom: 10px;
                }
                .date-comment{
                    display: flex;
                    align-items: center;
                    div{
                        font-size: 16px;
                        font-weight: 300;
                        font-family: 'Poppins', sans-serif;
                        color: #000000;
                        margin-bottom: 15px;
                        line-height: 1;
                        &:not(:last-child){
                            margin-right: 10px;
                            padding-right: 10px;
                            border-right: 1px solid #000;
                        }
                    }
                }
                p{
                    font-size: 16px;
                    font-weight: 300;
                }
                a.read-more{
                    font-size: 21px;
                    font-weight: 600;
                    color: #004C85;
                    text-transform: uppercase;
                    text-decoration: underline;
                    margin-top: 10px;
                    display: inline-block;
                }
            }
        }
    }
}
.blog-content-inner{
    .blog-wrapper{
        img{
            width: 100%;
            height: 440px;
            object-fit: cover;
            margin-bottom: 10px;
        }
        .blog-info{
            padding: 0 10px;
            .blog-title{
                font-size: 20px;
                color: #000;
                font-weight: 600;
                margin-bottom: 10px;
            }
            .date-comment{
                display: flex;
                align-items: center;
                div{
                    font-size: 16px;
                    font-weight: 300;
                    font-family: 'Poppins', sans-serif;
                    color: #000000;
                    margin-bottom: 15px;
                    line-height: 1;
                    &:not(:last-child){
                        margin-right: 10px;
                        padding-right: 10px;
                        border-right: 1px solid #000;
                    }
                }
            }
            p{
                font-size: 16px;
                font-weight: 300;
            }
            a.read-more{
                font-size: 21px;
                font-weight: 600;
                color: #004C85;
                text-transform: uppercase;
                text-decoration: underline;
                margin-top: 10px;
                display: inline-block;
            }
        }
    } 
}
.video-list{
    padding: 50px 0;
    li{
        margin-bottom: 50px;
        .video-wrapper{
            .video-thumb{
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                margin-bottom: 10px;
                .thumb{
                    width: 100%;
                    height: 440px;
                    object-fit: cover;
                }
                .button{
                    position: absolute;
                }
            }
            .video-content{
                padding: 0 10px;
                h2{
                    font-size: 25px;
                    color: #000000;
                    font-weight: 600;
                    text-transform: uppercase;
                    margin-bottom: 10px;
                }
                p{
                    font-size: 16px;
                }
            }
        }
    }
}

.section-banner{
    min-height: 600px;
    padding: 50px 0;
}
.banner-title, .page-banner h1 {
    margin-top: 5rem;
    font-size: 48px;
}
.services-section{
    padding: 100px 0;
    overflow: hidden;
}
.service-list{
    li{
        margin-bottom: 30px;
        .service-wrapper{
            min-height: 700px;
            padding: 50px;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            overflow: hidden;
            &:hover{
                .overlay-content{
                    transform: translateY(0);
                }
                .service-name-1{
                    opacity: 0;
                    transform: translateY(-20rem);
                }
            }
            .overlay-image-1{
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                transition: all 0.3s ease-in-out;
            }
            .service-name{
                color: #fff;
                position: relative;
                z-index: 20;
                font-size: 40px;
                transition: all 0.3s ease-in-out;
                text-align: center;
            }
            .overlay-content{
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                text-align: center;
                color: #fff;
                padding: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                transform: translateY(100%);
                transition: all 0.3s ease-in-out;
                .service-name{
                    margin-bottom: 30px;
                }
                p{
                    font-size: 16px;
                    font-family: 'Poppins', sans-serif;
                    font-weight: 300;
                }
                a{
                    border: 1px solid #FFFFFF;
                    padding: 20px 50px;
                    color: #fff;
                    display: inline-block;
                    font-size: 20px;
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 400;
                    text-transform: uppercase;
                    margin-top: 50px;
                }
            }
        }
    }
}

.common-design-1{
    position: absolute;
    left: -19vw;
    top: 3vw;
}
.common-design-2{
    position: absolute;
    right: -19vw;
    bottom: 10vw;
}
.shop-side-bar{
    position: sticky;
    top: 0;
    left: 0;
}
.categories-wrapper{
    .cat-list{
        li{
            a{
                display: flex;
                justify-content: space-between;
                align-items: center;
                color: #000;
                font-family: 'Poppins', sans-serif;
                font-weight: 500;
                font-size: 25px;
            }
        }
    }
}





/* --- fillter */

.range-slider {
    padding-top: 3.5em;
    position: relative;
    text-align: center;
}
.range-slider::before, .range-slider::after {
  content: " ";
  display: table;
}
.range-slider::after {
  clear: both;
}

.range-slider .track {
  bottom: 15px;
  height: 6px;
  left: 0;
  margin-bottom: -3px;
  position: absolute;
  width: 0;
  z-index: 50;
  border-radius: 15px;
}

.range-slider .track--full {
  background: #cccccc;
  width: 100%;
}
.range-slider .track--included {
  background: #004C85;
  border-radius: 3px;
}
.range-slider .slider-thumb {
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
    display: none;
    display: inline-block;
    height: 30px;
    position: absolute;
    width: 30px;
    z-index: 101;
    border: 7px solid #004C85;
    margin-top: -5px;
}

.range-slider [type=range] {
    -webkit-appearance: media-slider;
    background: none;
    height: 25px;
    margin: 0;
    outline: none;
    padding: 0;
    pointer-events: none;
    position: relative;
    width: 100%;
    z-index: 75;
}

.range-slider [type=range]:focus {
  outline: none;
}
.range-slider [type=range]::-moz-focus-outer {
  border: 0;
}
.range-slider [type=range]:first-of-type {
  float: left;
  margin-bottom: -30px;
}

.range-slider [type=range]:last-of-type {
  float: right;
  margin-bottom: 0;
}
.range-slider [type=range]::-webkit-slider-runnable-track {
  background: none;
  border: 0;
  height: 6px;
  z-index: -1;
}
.range-slider [type=range]::-ms-fill-lower {
  background: none;
  border: 0;
}
.range-slider [type=range]::-ms-fill-upper {
  background: none;
  border: 0;
}
.range-slider [type=range]::-ms-track {
  background: transparent;
  border: 0;
  border-color: transparent;
  color: transparent;
  height: 6px;
  z-index: -1;
}
.range-slider [type=range]:focus::-ms-fill-lower {
  background: none;
  border: 0;
}
.range-slider [type=range]:focus::-ms-fill-upper {
  background: none;
  border: 0;
}
.range-slider [type=range]::-moz-range-track {
  -moz-appearance: none;
  background: none;
  border: 0;
  height: 6px;
  z-index: -1;
}
.range-slider [type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #004C85;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  height: 30px;
  margin-top: -12px;
  outline: 0;
  pointer-events: all;
  position: relative;
  width: 30px;
  z-index: 100;
  opacity: 0;
}


.range-slider [type=range]::-ms-thumb {
  background: #004C85;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  height: 30px;
  margin-top: 0;
  pointer-events: all;
  position: relative;
  width: 30px;
  z-index: 100;
  opacity: 0;
}


.range-slider [type=range]::-moz-range-thumb {
  -moz-appearance: none;
  background: #004C85;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  height: 30px;
  margin-top: -12px;
  pointer-events: all;
  position: relative;
  width: 30px;
  z-index: 100;
  opacity: 0;
}

.range-slider .output,
.range-slider output {
    background: none;
    border: none;
    border-radius: 4px;
    color: #000;
    font-weight: bold;
    display: inline-block;
    height: 2.5em;
    font-size: 15px;
    left: 50%;
    line-height: 2.5em;
    padding: 0 0.75em;
    position: absolute;
    text-align: center;
    top: 0;
    transform: translate(-50%, 0);
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 14px;
}



.side-nav-header{
    color: #004C85;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 15px;
    margin-bottom: 20px;
    text-align: center;
    border-bottom: 1px solid #000;
    font-size: 46px;
}
.filter-option{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    button{
        border: none;
    }
    p{
        font-size: 15px;
    }
}

.product-list{
    li{
        margin-bottom: 50px;
        .row{
            background-color: #EFEFEF;
            img{
                height: 323px;
                width: 100%;
                object-fit: cover;
            }
            .product-content{
                padding: 50px;
                .product-name{
                    font-size: 60px;
                    font-family: 'Poppins', sans-serif;
                    font-weight: 600;
                    margin-bottom: 10px;
                }
                .product-desc{
                    font-size: 25px;
                    font-weight: 600;
                }
                .product-info{
                    margin-top: 30px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    p{
                        font-size: 16px;
                        font-weight: 500;
                    }
                }
            }
        }
    }
}


.product-section{
    .panel-1{
        .product-image{
            width: 100%;
            object-fit: cover;
            height: 600px;
            margin-bottom: 20px;
        }
        a{
            display: block;
            text-align: center;
            img{
                margin-right: 10px;
            }
        }
    }
    .panel-2{
        .product-name{
            font-size: 60px;
            text-transform: uppercase;
            font-weight: 600;
            margin-bottom: 10px;
            color: #000000;
            line-height: 1;
        }
        .product-type{
            font-size: 20px;
            color: #000;
            font-weight: 600;
            margin-bottom: 20px;
        }
        .product-desc{
            margin-bottom: 50px;
            p{
                font-size: 17px;
                font-weight: 300;
            }
        }
        .product-publish{
            font-size: 25px;
            font-weight: 500;
        }
    }
    .panel-3{
        .form-wrapper{
            padding: 30px;
            .product-price{
                font-size: 40px;
                color: #004C85;
                font-weight: 600;
                text-transform: uppercase;
                margin-bottom: 5px;
            }
            p{
                font-size: 18px;
                font-weight: 400;
                color: #171717;
                margin-bottom: 20px;
            }
            .input-group{
                margin-bottom: 10px;
                label{
                    font-size: 16px;
                    font-weight: 600;
                    color: #171717;
                    display: block;
                    margin-bottom: 10px;
                }
                select{
                    width: 100%;
                    display: block;
                    background-color: #EFEFEF;
                    border: none;
                    height: 50px;
                    padding: 10px;
                }
            }
            .total{
                border-top: 1px solid #707070;
                padding: 10px 0;
                margin: 20px 0 0;
                display: flex;
                justify-content: space-between;
                align-items: center;
                h3{
                    font-family: 'Poppins', sans-serif;
                    font-weight: 600;
                    text-transform: uppercase;
                    color: #004C85;
                    font-size: 20px;
                }    
                h4{
                    font-family: 'Poppins', sans-serif;
                    font-weight: 600;
                    text-transform: uppercase;
                    color: #004C85;
                    font-size: 25px; 
                }           
            }
            .submit{
                margin: 20px 0;
                button{
                    display: block;
                    width: 100%;
                    img{
                        margin-left: 20px;
                    }
                }
            }
        }
    }
}
.product-feature{
    background-color: #EFEFEF;
    .list-heading{
        font-size: 40px;
        text-transform: uppercase;
        font-weight: bold;
        text-align: center;
        color: #004C85;
    }
    .feature-list{
        border-top: 1px solid rgba($color: #363636, $alpha: 0.36);
        padding-top: 50px;
        li{
            display: flex;
            margin-bottom: 20px;
            img{
                width: 35px;
                font-size: 24px;
                color: #707070;
                object-fit: contain;
                margin-right: 20px;
            }
        }
    }
}

.related-list{
    li{
        .product-wrapper{
            display: flex;
            align-items: center;
            background-color: #EFEFEF;
            img{
                width: 50%;
                height: 300px;
                object-fit: cover;
            }
            .product-content{
                padding: 20px;
                h2{
                    font-size: 40px;
                    font-weight: 600;
                    color: #000;
                    font-family: 'Poppins', sans-serif;
                    margin-bottom: 5px;
                }
                p{
                    font-size: 18px;
                    font-weight: 600;
                    margin-bottom: 10px;
                }
                h3{
                    font-size: 16px;
                    font-weight: 500;
                    margin-bottom: 20px;
                }
                a{
                    display: block;
                    width: 100%;
                    text-align: center;
                }
            }
        }
    }
}

.billing-info{
    .bill-form{
        .input-group{
            label{
                display: block;
                width: 100%;
                margin-bottom: 5px;
                text-transform: uppercase;
                font-size: 18px;
                font-weight: 500;
                font-family: 'Montserrat', sans-serif;
            }
            input{
                width: 100%;
                padding: 10px;
                height: 60px;
                border: 1px solid #000000;
                color: #000;
                font-size: 18px;
                font-weight: 500;
                font-family: 'Montserrat', sans-serif;
                margin-bottom: 15px;
            }
        }
    }
    .additional-option{
        position: sticky;
        top: 0;
        left: 0;
        .input-group{
            label{
                display: block;
                width: 100%;
                margin-bottom: 5px;
                text-transform: uppercase;
                font-weight: 500;
                font-family: 'Montserrat', sans-serif;
                font-size: 18px;
            }
            textarea{
                width: 100%;
                padding: 10px;
                height: 500px;
                border: 1px solid #000000;
                color: #000;
                font-size: 18px;
                font-weight: 500;
                font-family: 'Montserrat', sans-serif;
                margin-bottom: 15px;
            }
        }
    }
    .other-info{
        .order-wrapper{
            .order-heading{
                font-size: 30px;
                text-transform: uppercase;
                color: #004C85;
                font-family: 'Montserrat', sans-serif;
                font-weight: bold;
                margin-bottom: 20px;
            }
            .total-row{
                display: flex;
                justify-content: space-between;
                align-items: center;
                h2{
                    font-size: 20px;
                    color: #000;
                    text-transform: uppercase;
                    font-weight: 600;
                    font-family: 'Poppins', sans-serif;
                    margin-bottom: 10px;
                }
            }
            .total-compute{
                border-top: 1px solid #000000;
                border-bottom: 1px solid #000000;
                padding: 10px 0;
                display: flex;
                justify-content: space-between;
                align-items: center;
                h2{
                    color: #004C85;
                    font-size: 30px;
                    text-transform: uppercase;
                    font-weight: bold;
                }
            }
           
        }
        .payment{
            margin-top: 20px;
            .payment-row{
                h2{
                    font-size: 20px;
                    color: #000;
                    text-transform: uppercase;
                    font-weight: 600;
                    font-family: 'Poppins', sans-serif;
                    text-transform: uppercase;
                }
                div{
                    input{
                        margin-right: 10px;
                    }
                }
            }
        }
        .note{
            margin-bottom: 20px;
            p{
                font-size: 18px;
                font-family: 'Montserrat', sans-serif;
                font-weight: 400;
            }
        }
        .submit-btn{
            button{
                display: block;
                width: 100%;
                text-align: center;
            }
        }
    }
}



.account-banner{
    min-height: 400px;
    h1{
        margin-top: 10rem;
    }
}
.form-account{
    .input-group{
        margin-bottom: 30px;
        h2{
            font-size: 22px;
            font-weight: 500;
            color: #171717;
            margin-bottom: 10px;
        }
        input{
            border: 1px solid #004C85;
            height: 60px;
            padding: 10px 20px;
            color: #171717;
            font-family: 'Poppins', sans-serif;
            font-weight: 500;
            width: 100%;
            box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.1);
        }
    }
    .input-submit{
        margin-top: 20px;
        text-align: center;
        button{
            text-transform: uppercase;
            font-size: 19px;
            display: block;
            width: 100%;
            max-width: 300px;
            margin: 0 auto;
        }
    }
}
.account-section{
    padding: 100px 0;
}
.form-option{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    img{
        margin-right: 10px;
    }
    a{
        font-size: 20px;
        text-transform: uppercase;
        font-weight: 500;
        color: #171717;
        span{
            font-weight: bold;
            color: #004C85;
            text-decoration: underline;
        }
    }
}
.verify-message{
    margin-bottom: 50px;
    h2{
        font-size: 33px;
        font-weight: 600;
        color: #004C85;
        margin-bottom: 10px;
    }
    p{
        font-size: 20px;
        font-weight: 500;
        color: #171717;
    }
}



.recent-list li .post-wrapper .date-comment div{
    white-space: nowrap;
}




.impact-list .impact-wrapper .impact-overlay{
    overflow-y: auto;
}
.section-subcontent{
    text-align: center;
    font-size: 16px;
    margin: 10px 0;
}
.line{
    border-top: 1px solid #004C85;
    padding: 1px;
    margin: 10px 0;
    width: 143px;
}
.service-list li .service-wrapper .overlay-content ul li{
    margin-bottom: 5px;
    text-align: left;
    list-style: disc;
}
.service-list li .service-wrapper .overlay-content ul{
    margin: 10px 0;
    padding-left: 20px;
}
.service-list li .service-wrapper .overlay-content .content-holder{
    overflow-y: auto;
    max-height: 500px;
    padding-right: 20px;
}
.service-list li .service-wrapper .service-name{
    text-transform: uppercase;
}
.primary-list{
    margin: 5px 20px 20px;
    li{
        list-style: disc;
        font-family: "Poppins", sans-serif;
        font-size: 16px;
        font-weight: 500;
        color: #000;
        margin-bottom: 5px;
    }
}
.sec-1-img img, .sec-2-img img {
    width: 100% !important;
    height: 570px;
}


.cart-body{
    padding: 50px 0;
    .cart-heading{
        margin-bottom: 50px;
        h2{
            font-size: 40px;
            font-weight: 500;
        }
        p{
            font-size: 20px;
        }
    }
    .product-listing{
        .product-item{
            border-bottom: 1px solid #707070;
            padding-bottom: 30px;
            margin-bottom: 30px;
            .product-wrapper{
                .product-name{
                    font-size: 30px;
                    color: #004C85;
                    font-weight: 600;
                    margin-bottom: 10px;
                }
                .pdf-list{
                    .pdf-item{
                        margin-bottom: 5px;
                    }
                }
                .view-btn{
                    a{
                        text-transform: uppercase;
                        gap: 10px;
                        display: flex;
                        align-items: center;
                    }
                }
                .license{
                    margin-top: 10px;
                    h2{
                        font-size: 18px;
                        font-weight: 600;
                        margin-bottom: 10px;
                    }
                    select{
                        width: 100%;
                        background-color: #EFEFEF;
                        padding: 15px 10px;
                        border: none;
                    }
                }
                .price-option{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    a{
                        text-decoration: underline;
                        font-size: 16px;
                        color: #004C85;
                        text-transform: uppercase;
                    }
                    .price{
                        color: #004C85;
                        font-size: 30px;
                        font-weight: 600;
                    }
                }
            }
        }
    }
}
.checkout-btns{
    display: flex;
    align-items: stretch;
    justify-content: center;
    gap: 20px;
    max-width: 90%;
    a{
        width: 100%;
        padding: 15px 20px;
        font-size: 18px;
        text-transform: uppercase;
        color: #fff;
        &.continue-shopping{
            background-color: #004C85;
            text-align: center;
        }
        &.clear-cart{
            background-color: #707070;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
        }
    }
}

.checkout-form{
    background: #fff;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    padding: 30px;
    text-align: center;
    position: sticky;
    top: 20px;
    .checkout-btn{
        width: 100%;
        padding: 15px 20px;
        font-size: 18px;
        text-transform: uppercase;
        color: #fff;
        background-color: #004C85;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 20px 0;
        gap: 10px;
    }
    .sub-item{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        margin-bottom: 10px;
        h2{
            font-size: 16px;
            font-weight: 600;
            color: #171717;
            text-transform: uppercase;
        }
    }
    .item{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        margin-bottom: 10px;
        &.total{
            border-top: 1px solid #707070;
            padding-top: 10px;
        }
        h2{
            font-size: 25px;
            font-weight: 600;
            color: #171717;
            text-transform: uppercase;
            color: #004C85;
        }
    }
}

.team-about{
    margin-top: 100px;
    margin-bottom: 50px;
    .team-card{
        width: 100%;
        .team-img{
            img{
                width: 100%;
                object-fit: cover;
                height: 500px;
            }
        }
        .team-details{
            width: 100%;
            .row{
                align-items: center;
            }
            .social-links i.fa {
                font-size: 20px;
            }
        }
        .share-col {
            height: auto;
        }
    }
    .team-content{
        .member-name{
            font-size: 50px;
            color: #004C85;
            font-weight: bold;
            font-family: 'Montserrat', sans-serif;
        }
        .member-position{
            font-size: 24px;
            font-weight: 600;
            color: #000000;
            margin-bottom: 20px;
        }
        .team-quote{
            font-size: 24px;
            color: #000000;
            font-weight: 500;
            font-style: italic;
            margin-bottom: 20px;
        }
        .team-bio{
            p{
                font-size: 20px;
                font-weight: 400;
                color: #000000;
                margin-bottom: 20px;
            }
            ul{
                margin-left: 20px;
                li{
                    list-style: disc;
                    font-size: 20px;
                    font-weight: 400;
                    color: #000000;
                    margin-bottom: 5px;
                }
            }
        }
    }
}
.company-logos{
    margin: 20px 0;
    img{
        height: 13vh;
        margin-bottom: 20px;
        object-fit: contain;
    }
}

@media(max-width: 768px){
    .checkout-form{
        position: relative;
        top: 0;
        margin-top: 50px;
    }
    .checkout-btns {
        max-width: 100%;
    }
    .cart-body .product-listing .product-item .product-wrapper .price-option {
        margin-top: 20px;
    }
    .team-about .team-content .member-name {
        font-size: 30px;
    }
    .team-about .team-content .member-position {
        font-size: 16px;
        margin-bottom: 10px;
    }
    .team-about .team-content .team-quote {
        font-size: 18px;
        margin-bottom: 10px;
    }
    .team-about .team-content .team-bio p {
        font-size: 14px;
        margin-bottom: 10px;
    }
    .team-about .team-content .team-bio ul li {
        font-size: 14px;
    }
}

@media(max-width: 600px){
    .cart-body .cart-heading h2 {
        font-size: 30px;
    }
    .cart-body .cart-heading p {
        font-size: 14px;
    }
    .cart-body .product-listing .product-item .product-wrapper .product-name {
        font-size: 24px;
    }
    .cart-body .product-listing .product-item .product-wrapper .price-option .price {
        font-size: 20px;
    }
    .pdf-name{
        font-size: 14px;
    }
    .checkout-btns {
        flex-direction: column;
        gap: 10px;
    }
    .checkout-btns a {
        padding: 10px 20px;
        font-size: 14px;
    }
    .checkout-form .item h2 {
        font-size: 16px;
    }
    .checkout-form .sub-item h2 {
        font-size: 13px;
    }
    .checkout-form .checkout-btn {
        padding: 10px 20px;
        font-size: 14px;
    }
}


.archive-banner{
    min-height: 50vh;
    position: relative;
    &:after{
        content: '';
        height: 100%;
        width: 100%;
        background: #000000;
        opacity: 0.5;
        position: absolute;
        top: 0;
        left: 0;
    }
}

.archive-section{
    padding: 100px 15px;
    .bg{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .archive-wrapper{
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
        padding: 50px;
        max-width: 1200px;
        background-color: #fff;
        margin: 0 auto;
        position: relative;
        z-index: 20;
        img{
            margin-bottom: 20px;
        }
        h2{
            font-size: 30px;
            color: #004C85;
            font-family: 'Montserrat', sans-serif;
            font-weight: 600;
            margin-bottom: 10px;
            text-transform: uppercase;
        }
        p{
            font-size: 20px;
            color: #171717;
            font-weight: 500;
            margin-bottom: 40px;
        }
        a{
            background-color: #004C85;
            padding: 15px 60px;
            color: #fff;
            font-size: 20px;
            margin-bottom: 20px;
            display: inline-block;
        }
    }
}


@media(max-width: 768px){
    .archive-section .archive-wrapper h2 {
        font-size: 22px;
    }
    .archive-section .archive-wrapper p {
        font-size: 16px;
        margin-bottom: 20px;
    }
    .archive-section .archive-wrapper img {
        max-width: 88px;
    }
    .archive-section .archive-wrapper a {
        padding: 10px 50px;
        font-size: 14px;
        margin-bottom: 20px;
    }
    .archive-section .archive-wrapper {
        padding: 25px;
    }
    .archive-section{
        padding: 50px 15px;
    }
}





// NEW UPDATED CSS
header{
    background-color: transparent;
}
.banner-section{
    min-height: 100vh;
    &:after{
        content: '';
        height: 100%;
        width: 100%;
        background-color: #000000;
        opacity: 0.4;
        position: absolute;
        left: 0;
        top: 0;
    }
}
.goals{
    background-color: #E9E5E5;
}
.we-can-help {
    background-color: #E9E5E5;
}
.testimony {
    background-color: #fff;
}
footer{
    .logo-panel{
        img{
            height: 250px;
            object-fit: contain;
        }
    }
}
.team-intro{
    padding: 50px 0;
    background-color: #E9E5E5;
    p{
        font-size: 25px;
        text-align: center;
        font-weight: 600;
    }
}

.team-row{
    .team-div{
        margin: 0 20px 50px;
        .team-img{
            height: 400px;
            margin: 0 auto;
            display: block;
            object-fit: contain;
        }
        .team-content{
            background-color: #004C85;
            padding: 20px;
            .name{
                font-size: 28px;
                color: #fff;
                font-weight: 600;
            }
            .position{
                font-size: 16px;
                margin: 10px 0;
                color: #fff;
                font-weight: 500;
            }
            .content{
                p, ul li{
                    font-size: 16px;
                    color: #fff;
                    font-weight: 400;
                }
                ul{
                    margin-left: 20px;
                    margin-top: 10px;
                    li{
                        list-style: disc;
                    }
                }
            }
            .team-footer{
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 50px;
               .fa-icon{
                    height: 50px;
               }
               .other-button{
                display: flex;
                justify-content: space-between;
                gap: 20px;
                a{
                    color: lightblue;
                    text-decoration: underline;
                }
               }
            }
        }
    }
}

.revamp-section{
    background-color: #E9E5E5;
    p{
        font-size: 25px;
        text-align: center;
        font-weight: 600;
    }
}
.company-logos img {
    height: 25vh;
}
.help-2{
    background-color: #fff;
}
.video-wrapper{
    width: 100%;
    iframe{
        height: 627px;
        width: 100%;
    }
}
/*# sourceMappingURL=main.css.map */